
.animated-button {
    padding: 5px 20px;
    background-color: #000000;
    color: #eaf207;
    border: none;
    border-radius: 5px;
    font-size: 30px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  
  .animated-button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background-color: rgba(193, 244, 8, 0.3);
    transition: all 0.5s ease;
    border-radius: 50%;
    z-index: 0;
    transform: translate(-50%, -50%) scale(0);
  }
  
  .animated-button:hover::before {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .animated-button:hover {
    color: #eaf207;
  }